<div class="panel panel-default">
  <div class="panel-heading">
    Dodaj klienta
  </div>
  <div class="panel-body">
    <form #customerForm="ngForm" (ngSubmit)="add(customerForm)">
      <div class="form-group">
        <label for="name">Nazwa klienta</label>
        <input required type="text" class="form-control" id="name" [(ngModel)]="name" name="name" #nameInput #nameModel="ngModel"
        />
        <div class="alert alert-danger" *ngIf="nameModel.invalid && nameModel.touched">
          Pole nazwa jest wymagane
        </div>
      </div>
      <div class="form-group">
        <label for="age">Wiek</label>
        <input required type="number" class="form-control" id="age" [(ngModel)]="age" name="age" #ageModel="ngModel" />
        <div class="alert alert-danger" *ngIf="ageModel.invalid && ageModel.touched">
          Wiek jest wymagany
        </div>
      </div>
      <div class="form-group">
        <label for="type">Typ</label>
        <select required class="form-control" [(ngModel)]="type" name="type" #typeModel="ngModel">
          <option [value]="CustomerType.Standard">Standard</option>
          <option [value]="CustomerType.Premium">Premium</option>
          <option [value]="CustomerType.VIP">VIP</option>
        </select>
        <div class="alert alert-danger" *ngIf="typeModel.invalid && typeModel.touched">
          Typ klienta jest wymagany
        </div>
      </div>
      <button type="button" class="btn btn-default" [disabled]="!customerForm.dirty" (click)="customerForm.resetForm()">Resetuj</button>
      <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Dodaj</button>
    </form>
  </div>
</div>