<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 [style.color]= "fontColor" [class.isActive] = "isActive">
    Welcome here, {{ customer.name.toUpperCase() }}!
  </h1>
  <p>{{ customer.description }}</p>
  <p>age: {{ customer.age }}</p>
  <p>Address: {{customer.address.street }}, {{customer.address.houseNumber}}, {{customer.address.city}}</p>
  <img [src]= "customer.photoUrl" />
  <br />
  <button (click) = "changeIsActive()" type="button">Switch underline</button>
  <button (click) = "changeFontColor()" type="button">Switch color</button>
  <br />
  <input type="text" [(ngModel)] = "customer.name">
</div>

